<!DOCTYPE html>
<html lang="sv">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Lägg till kurs</title>
</head>

<body>
    <header>
        <div class="h-container">
            <h1><a href="/">Moment 1</a></h1>
            <nav>
                <ul>
                    <li><a href="/addcourse">Lägg till kurs</a></li>
                    <li><a href="/about">Om</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <div class="container">
        <main>
            <h2>Lägg till kurs</h2>
            <% if(posted) { %>
                <p class="posted">
                    <%= posted %>
                </p>
                <% } %>

                    <% if(errors.length> 0) { %>
                        <%errors.forEach(error=> { %>
                            <p class="error">
                                <%= error %>
                            </p>
                            <% }); %>
                                <% } %>

                                    <form method="post">
                                        <label for="newCourseCode">Kurskod:</label>
                                        <br>
                                        <input type="text" name="newCourseCode" id="newCourseCode"
                                            value="<%= newCourseCode %>">
                                        <br>
                                        <label for="newCourseName">Kursnamn:</label>
                                        <br>
                                        <input type="text" name="newCourseName" id="newCourseName"
                                            value="<%= newCourseName %>">
                                        <br>
                                        <label for="newSyllabus">Länk till kursplan:</label>
                                        <br>
                                        <input type="text" name="newSyllabus" id="newSyllabus"
                                            value="<%= newSyllabus %>">
                                        <br>
                                        <label for="newProgression">Progression:</label>
                                        <br>
                                        <select name="newProgression" id="newProgression">
                                            <option value="">Välj progression</option>
                                            <option value="A" <%=newProgression==="A" ? "selected" : "" %>>A</option>
                                            <option value="B" <%=newProgression==="B" ? "selected" : "" %>>B</option>
                                        </select>
                                        <br>
                                        <div class="btn">
                                            <button type="submit" class="submit-btn">Lägg till</button>
                                        </div>
                                    </form>
        </main>
    </div>
    <footer>
        <p>
            Laborationsuppgift för kursen DT207G, <br> Backend-baserad webbutveckling <br>
            Copyright &copy; 2025 Ramona Reinholdz
        </p>
    </footer>

</body>

</html>